<!DOCTYPE HTML> 
<html> 
  <head> 
      <title>Goodmorning Annie</title>
      <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

  <body>
  <h1>Dinner Ideas for Tonight!</h1>
  <h3><a href="light.erb">Light Dinners</a></h3>
  <h3><a href="low.erb">Low-Maintenance</a></h3>
  <h3><a href="fancy.erb">Fancy Dinners</a></h3>
  <h3><a href="comfort.erb">Comfort Food</a></h3>
  <h3><a href="desert.erb">Deserts</a></h3>
  <h3><a href="snacks.erb">Snacks</a></h3>
  
  </body>
</html>