<!DOCTYPE HTML> 
<html> 
  <head> 
      <title>Goodmorning Annie</title>
      <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

  <body>
    <h1>Hello Ann!</h1>
    <div class='images' box-shadow='10px 10px 5px #888888;'><img src=<%= @pictureone%> height ='600' width = '600'>
    <img src=<%= @picturetwo %>  height ='600' width = '600'></div>
    <h3><a href='dinners.erb'>Dinner ideas for tonight!</a></h3>
    <h3><a href='pictures.erb'>Our photo album</a></h3>
    <h3><a href="songs.erb">A new song and some oldies!</a></h3>

  </body>


</html>